#Options All -ExecCGI -Indexes -Includes +FollowSymLinks
AddDefaultCharset utf-8
AcceptPathInfo On
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /path2.php [L]
</IfModule>
